@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --color-bg-dark: #14151d; /* Dark background for scrollbar */
  --color-bg-primary: #323232; /* Primary background color */
  --color-bg-card: #131313; /* Card background color */
  --color-text-primary: #f3f3f3; /* Primary text color */
  --color-text-secondary: #666666; /* Secondary text color */
  --color-accent-primary: #f3c623; /* Primary accent color */
  --color-accent-secondary: #ffa500; /* Secondary accent color */
  --color-button-hover: #d3b61a; /* Button hover color */
  --color-button-clear: #ff0000; /* Clear button color */
  --color-button-clear-hover: #ff3333; /* Clear button hover color */
  --breakpoint-mobile: 480px; /* Mobile breakpoint */
  --font-family-primary: "Roboto", sans-serif; /* Primary font family */
  --border-radius-card: 0.625rem; /* Card border radius */
  --transition-duration-default: 0.2s; /* Default transition duration */
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-dark); /* Dark background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent-primary); /* Gold color for the thumb */
  border-radius: 10px;
  border: 3px solid var(--color-bg-dark); /* Dark border to match the track */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-secondary); /* Lighter gold on hover */
}

/* Additional Styling for Scrollbar Buttons (Optional) */
::-webkit-scrollbar-button {
  background: var(--color-accent-primary); /* Gold color for the buttons */
  border-radius: 10px;
}

::-webkit-scrollbar-button:hover {
  background: var(--color-accent-secondary); /* Lighter gold on hover */
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent-primary) var(--color-bg-dark);
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  background: linear-gradient(
    135deg,
    var(--color-bg-primary) 0%,
    var(--color-bg-dark) 100%
  );
  color: var(--color-text-primary);
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.app__container {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem;
}

.app__logo-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
}

.app__logo {
  width: 300px;
  object-fit: contain;
}

.app__no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__no-results--img {
  height: 250px;
  aspect-ratio: 1;
  object-fit: cover;
}

.app__no-results--heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  text-wrap: balance;
  text-align: center;
}

.app__no-results--text {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
  text-wrap: pretty;
  text-align: center;
}

.app__no-characters-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: 2rem 0;
}

.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 3rem;
  max-width: 50%;
  position: sticky;
  top: 20px;
  z-index: 1;
}

.search__heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1rem;
  text-align: center;
  overflow: hidden;
  transition: height 0.2s, opacity 0.2s;
}

.search__input {
  width: 100%;
  background-color: var(--color-bg-card);
  caret-color: var(--color-accent-primary);
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--color-text-primary);
  padding: 1.25rem 2rem 1.25rem 2rem;
}

.search__input-container {
  position: relative;
}

.search__input:is(:focus, :focus-visible) {
  outline: 2px solid var(--color-accent-primary);
}

.search__input::placeholder {
  color: var(--color-text-secondary);
}

/* Hide the default clear button */
.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search__clear-button {
  content: "✖";
  font-size: 1rem;
  color: var(--color-button-clear);
  position: absolute;
  right: 20px;
  top: 48%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color var(--transition-duration-default) ease-in-out;
}

.search__clear-button:hover {
  color: var(--color-button-clear-hover);
}

.hero__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 18.75rem));
  gap: 1.25rem;
  padding: 1.25rem;
  justify-content: center;
  min-height: 100vh;
}

.hero__card {
  width: 100%;
  max-width: 18.75rem;
  border-radius: var(--border-radius-card);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all var(--transition-duration-default) ease-in-out;
}

.hero__card img {
  width: 100%;
  height: 21.875rem;
  filter: grayscale(100%);
  aspect-ratio: 1;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
  transition: filter var(--transition-duration-default) ease-in-out;
}

.hero__card:hover img {
  filter: none;
}

.hero__card .hero__card-content {
  background: var(--color-bg-card);
  padding: 1rem;
  border-bottom-left-radius: var(--border-radius-card);
  border-bottom-right-radius: var(--border-radius-card);
}

.hero__card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  background-color: var(--color-accent-primary);
  color: var(--color-bg-dark);
  border: none;
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0.625rem 0;
  cursor: pointer;
  transition: background-color var(--transition-duration-default) ease-in-out;
}

.hero__card h2 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--color-text-primary);
}

.hero__card p {
  margin: 0.625rem 0;
  color: var(--color-text-secondary);
  transition: color var(--transition-duration-default) ease-in-out;
}

.hero__card:hover p {
  color: var(--color-text-primary);
}

.hero__card-details-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius-card);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hero__card-details-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-primary);
  padding: 0 1.25rem;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);
  background: rgba(0, 0, 0, 0.9);
}

.hero__card-details-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: var(--color-accent-primary);
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.hero__card-details-content-wrapper h2 {
  font-size: 1.5rem;
}

.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  position: relative;
  filter: drop-shadow(0 0 1px var(--color-accent-primary));
}

.loader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: arial;
  color: var(--color-accent-primary);
  text-shadow: 1px 1px 1px var(--color-bg-dark);
  animation: blink 1s ease infinite;
}

.loader__svg {
  width: 200px;
  height: 200px;
  animation: flip 2s linear infinite;
}

.loader__svg path {
  stroke: var(--color-bg-dark);
  stroke-width: 30;
  fill: transparent;
  stroke-dasharray: 100px 5px;
  animation: spin 1s ease-in-out infinite alternate;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 500;
    opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;
  margin: 1.25rem 0;
}

.pagination__list {
  display: flex;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  cursor: pointer;
}

.pagination__item > .pagination__link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.pagination__link.active {
  text-decoration: underline var(--color-accent-primary);
  text-decoration-thickness: 0.75rem;
}

.pagination__active-page {
  display: none;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  background-color: var(--color-accent-primary);
  color: var(--color-bg-primary);
  border: none;
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: background-color var(--transition-duration-default) ease-in-out;
}

.pagination button:hover {
  background-color: var(--color-button-hover);
}

.pagination button:disabled {
  background-color: var(--color-text-secondary);
  cursor: not-allowed;
}

.footer__container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
  padding: 1.25rem 0 0;
  border-top: 0.5px solid var(--color-accent-primary);
  font-size: 1.25rem;
  transition: all var(--transition-duration-default) ease-in-out;
}

.footer__github-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.footer__link {
  color: var(--color-accent-primary);
  text-decoration: none;
}

.footer__container > p {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .app__container {
    padding: 1rem;
  }

  .search__container {
    max-width: 100%;
  }

  .pagination {
    justify-content: space-between;
  }

  .pagination__list {
    display: none;
  }

  .pagination__active-page {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
}
